{% extends base_layout %}

{% block title %}
        {% trans %}About me{% endtrans %} - {{app_name}}
{% endblock %}
{% block header_title %}
        {% trans %}About me - Wilson Campusano{% endtrans %}
{% endblock %}

{% block content %}

    {% if user_id %}
   
    {% else %}
    <div class="row">
        <div class="span9">
            <p>

            </p>
            <div class="">
                              
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <h1>    </h1>
        </div>
        
    </div>

    <div class="row">
        <div class="span9">
            <p class="lead">Vivo en Santo Domingo. La mayor parte de mi tiempo desarrollo en el backend funcionalidades para aplicaciones internas y externas, en el frontend desarrollo plugins y componentes para aplicaciones web.</p>
            <p class="lead">Actualmente estoy experimentando con las tecnologías NodeJs, MongoDB(BigData, NoSQL), el mundo Python y varios frameworks javascript.</p>

            <p class="lead">Algunas de las tecnologías con las que he trabajado son:</p>
        </div>
        <div class="span3"></div>
    </div>

    <div class="row">
        <div class="span9 hero-unit">
            <div class="span4">
            <ul>
                <li>Java SE</li>
                <li>Csharp .Net</li>
                <li>Java Enterprise</li>
                <li>Asp.Net WebForms, MVC</li>
                <li>SQL y PL/SQL</li>
                <li>NoSql(MongoDB, Neo4j)</li>
            </ul></div>

            <div class="span4">
            <ul>
                <li>Javascript(JQuery, Angular, EmberJS)</li>
                <li>Python</li>
                <li>Ruby</li>
                <li>ETL tools</li>
                <li>CI Containers</li>
                <li>Web Services(Soap, REST)</li>

            </ul></div>
        </div>
    </div>
    
    <div class="row">
        <div class="span9">
            <p class="lead">Cuando no estoy codeando me encanta pasar mi tiempo con mis amigos, me gusta mucho escuchar y tocar musica, además de ver películas y series.</p>
        </div>
    </div>
        
    </div>
    {% endif %}

{% endblock %}

{% block mediaJS %}
    <script>
        $().ready(function() {
            $("#form_login_user").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });

            $("#form_register").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                rules: {
                    password: 'required',
                    c_password: {
                        required: true,
                        equalTo: '#password'
                    }
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
            
            $("#password").passStrength({
                shortPassText: '{% trans %}Short Password{% endtrans %}',
                badPassText: '{% trans %}Insecure Password{% endtrans %}',
                goodPassText: '{% trans %}Good Password{% endtrans %}',
                strongPassText: '{% trans %}Secure Password{% endtrans %}'
            });
        });
    </script>
{% endblock %}

