{% extends base_layout %}

{% block header_title_lead %}{% endblock %}

{% block content %}

    {% if user_id %}
    <!-- <div class="hero-unit home_bp">
        <h1>
            Wellcome
        </h1>
        <p>
            {% trans %}Congratulations on your Google App Engine Boilerplate powered page.{% endtrans %}
            <br><a href="http://github.com/coto/gae-boilerplate/blob/master/README.md" target="_blank">
            {% trans %}Learn why this Boilerplate Rocks{% endtrans %}</a> {% trans %}or just{% endtrans %} 
            <a href="http://github.com/coto/gae-boilerplate/" target="_blank">{% trans %}download the Source Code{% endtrans %}</a> 
            {% trans %}to help you to create your application.{% endtrans %} 
        </p> 
    </div> -->
    {% else %}

    <div class="row">
        <div class="span12">
            <div class="hero-unit">
                {% trans %}Software Engineer, Viajero. Hablo de Amor, Humor y Música. Me gusta aprender y conocer personas interesantes.{% endtrans %} 
            </div> 
        </div>
    </div>

     <div class="row">
        <div class="hu">


               <div class="span4">
                <div class="hero-unit">
                    <a class="linkedin-a" href="http://do.linkedin.com/in/wilsoncampusano" target="_blank">
                        LinkedIn</a>

                    </a>
                </div> 
            </div> 


            <div class="span4">
                <div class="hero-unit">
                    <a href="http://stackoverflow.com/users/1468045/wilson-campusano">
                        <img src="http://stackoverflow.com/users/flair/1468045.png?theme=dark" width="208" height="58" alt="profile for Wilson Campusano at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Wilson Campusano at Stack Overflow, Q&amp;A for professional and enthusiast programmers" target="_blank">
                    </a>
                </div> 
            </div> 


             <div class="span4">
                <div class="hero-unit">
                    <a class="octocat-a" href="https://github.com/wilsoncampusano" target="_blank">
                        Github
                    </a>
                </div> 
            </div> 
        </div>
    </div>
       
    {% endif %}

{% endblock %}

{% block mediaJS %}
    <script>
        $().ready(function() {
            $("#form_login_user").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });

            $("#form_register").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                rules: {
                    password: 'required',
                    c_password: {
                        required: true,
                        equalTo: '#password'
                    }
                },
                errorPlacement: function(error, element) {
                    element.parent().parent().addClass("error");
                    error.addClass("help-inline").appendTo( element.parent() );
                }
            });
            
            $("#password").passStrength({
                shortPassText: '{% trans %}Short Password{% endtrans %}',
                badPassText: '{% trans %}Insecure Password{% endtrans %}',
                goodPassText: '{% trans %}Good Password{% endtrans %}',
                strongPassText: '{% trans %}Secure Password{% endtrans %}'
            });
        });
    </script>
{% endblock %}

